<div class="home_page">

  <h1>Home</h1>
  <!--
  Ruby on Rails has a special way to show images.

  If you want to see and image on your page, put it inside of the images folder. You can find it in app/assests/images.

  Try replacing this image with one you want to put on your site.

   -->
  <div class="home_img">

    <%= image_tag("upc.png") %>

  </div>



</div>
